
<div class="accountTo">
<p>Account from:</p>
<select class="acctFromMenu" [(ngModel)]="accountFrom">
  <option [ngValue]="account" *ngFor="let account of accounts">{{account.accountType}}</option>
</select>
</div>

<div class="accountAction">
<p>Action:</p>
<select class="actionMenu" [(ngModel)]="accountAction">
  <option value="WITHDRAW">WITHDRAW</option>
  <option value="DEPOSIT">DEPOSIT</option>
  <option value="TRANSFER">TRANSFER</option>
</select>
</div>

<div class="actionAmount">
  <p>Amount:</p>
  <form (submit)="onSubmit()">
  <input [(ngModel)]="actAmt" name="formAmount">
  </form>
</div>

<div class="accountTo" *ngIf="accountAction == 'TRANSFER'">
  <p>Account to:</p>
  <select class="acctToMenu" [(ngModel)]="accountTo">
    <option [ngValue]="account" *ngFor="let account of accounts">{{account.accountType}}</option>
  </select>
</div>


<button (click)="submitAction()" routerLink="..">SUBMIT</button>
<button routerLink="..">CANCEL</button>
