<h1 style="text-align: center">Developer Page</h1>
<p style="text-align:center">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="row">
    <form>
      <fieldset>
        <legend class="text-center">Fill out below to create new faq.<span class="req"><small>
                                required *</small></span></legend>

        <div clas="form-group">
<!--          <label for ="Question"><span class="req">*</span> Question: </label>-->
<!--          <input required type="text" [(ngModel)]="question" name="question" id="question"-->
<!--                 placeholder="Enter new faq here..."/>-->
        </div>
      </fieldset>
    </form>
  </div>
</div>
