<h1 style="text-align: center">Developer Page</h1>
<p style="text-align:center">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

<form action="/action_page.php">
  <label for="question">New Question: </label>
  <input type="text" id="question" question="question"><br><br>
  <label for="answer">Answer: </label>
  <input type="text" id="answer" answer="answer"><br><br>
  <input type="submit" value="Submit">
</form>
